/*  your css code here. If applicable */

body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.container{
	width: 80%;
	background-color: black;
	height: 80%;
	display: grid;
	grid-template-columns: repeat(40, 1fr);
	grid-template-rows: repeat(20, 1fr);
	gap: 4px;
	padding: 30px;
}

.square{
	background-color: #1D1D1D;
}