/*  your css code here. If applicable */
.container{
  background-color: black;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(40, 1fr);
  padding:20px;
  gap: 5px;
}
.square{
  background-color: rgb(29, 29, 29);
}
